{% extends 'base.html' %}
{% load static %}

{% block extracss %}

    <style>
        input#id_postcode::-webkit-outer-spin-button,
        input#id_postcode::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }

        input#id_postcode[type=number] {
            -moz-appearance:textfield; /* Firefox */
        }
    </style>

{% endblock extracss %}

{% block extrajs %}
    <script src="{% static 'dist.js' %}"></script>
    <script>
        const postcodejson = '{% static 'postcodes.json' %}';
        const site_key = '{{ site_key }}';
        const cookied = {{ cookied }};
    </script>
    <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
    <script src="{% static 'form.js' %}"></script>
{% endblock extrajs %}

{% block content %}
    <section class="container mt-md-5 pt-md-5 bangla">
    <div class="row justify-content-center">
    <div class="col-md-8 col-sm-12">

        <div class="text-center">
            <h1>আপনি কি করোনা ঝুঁকিতে আছেন?</h1>
            <p><b>COVID-19</b> সম্পর্কিত কোনো <span class="text-danger">জরুরী</span> সংবাদ প্রেরণের জন্য সরকারের হটলাইনে (<a href="tel:01937000011">01937000011</a>, <a href="tel:01937110011">01937110011</a>, <a href="tel:01927711784">01927711784</a>, <a href="tel:019771185">019771185</a>) এখনই যোগাযোগ করুন।</p>
            <h5> নিচের প্রশ্নগুলোর উত্তর দিয়ে আমাদের সহায়তা করুন<br>(আপনি কোনও লক্ষণ অনুভব না করে থাকলেও এই ফর্মটি পূরণ করুন)</h5>
            <p class="text-success cookied"> আপনার পূর্বের উত্তরগুলো সংগ্রহ করে রাখা হয়েছে। নিম্নে উত্তরগুলো আপনি পুরোরাই কারেকশন করতে পারবেন।</p>
        </div>
        <form id="formsubmit" action="" method="post" class="lead">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.source.errors }}
            {{ form.source }}
            <hr>

            <div class="row justify-content-center">
                <div class="col-md-8 align-self-center text-center">
                    {{ form.fever.label }}
                </div>
                <div class="col-6 text-right col-md-2 text-md-center">
                    <label class="lead">হ্যা</label>
                    {{ form.fever.0.tag }}
                </div>
                <div class="col-6 text-left col-md-2 text-md-center">
                    <label class="lead">না</label>
                    {{ form.fever.1.tag }}
                </div>
            </div>
            <hr>

            <h5 class="text-center">নিম্নলিখিত কোন লক্ষণগুলোর সম্মুখীন হচ্ছেন?</h5>
            <div class="row justify-content-center ml-5 ml-sm-0">
                {% for field in form.visible_fields|slice:"1:9" %}
                    <div class="col-md-4 m-2">
                        {{ field }}
                        {{ field.label }}
                    </div>
                {% endfor %}
            </div>
            <hr>

            <div class="row text-center justify-content-center">
                <div class="col-md-8">
                    {{ form.age_group.label }}
                </div>
                <div class="col-md-4">
                    {{ form.age_group }}
                </div>
            </div>
            <hr>

            <h5 class="text-center">নিম্নলিখিত কোন লক্ষণগুলোর সম্মুখীন হচ্ছেন?</h5>
            <div class="row justify-content-center ml-5 ml-sm-0">
                {% for field in form.visible_fields|slice:"10:16" %}
                    <div class="col-md-4 m-2">
                        {{ field }}
                        {{ field.label }}
                    </div>
                {% endfor %}
            </div>
            <hr>

            {% for field in form.visible_fields|slice:"16:19" %}
            <div class="row justify-content-center">
                <div class="col-md-8 align-self-center text-center">
                    {{ field.label }}
                </div>
                <div class="col-6 text-right col-md-2 text-md-center">
                    <label class="lead">হ্যা</label>
                    {{ field.0.tag }}
                </div>
                <div class="col-6 text-left col-md-2 text-md-center">
                    <label class="lead">না</label>
                    {{ field.1.tag }}
                </div>
            </div>
            <hr>
            {% endfor %}
            <div class="row justify-content-center warning-msg">
                <div class="col align-self-center text-justify">
                    <p class="lead text-danger">
                        আপনি যদি চীন, সিঙ্গাপুর, জাপান, দক্ষিন কোরিয়া, ইতালি, ইরান এসব দেশে ভ্রমণ করে থাকেন এবং ফিরে আসার ১৪ দিনের মধ্যে যদি আপনার জ্বর/কাশি/গলা ব্যথা/শ্বাসকষ্ট দেখা দেয় তাহলে অতি দ্রুত IEDCR এর হটলাইন নাম্বারে (<a href="tel:01937000011">01937000011</a>, <a href="tel:01937110011">01937110011</a>, <a href="tel:01927711784">01927711784</a>, <a href="tel:019771185">019771185</a>) যোগাযোগ করুন এবং কুয়েত-মৈত্রী সরকারি হাসপাতালে ডাক্তারের পরামর্শ নিন।
                    </p>
                </div>
            </div>

            <div class="row text-center justify-content-center mb-3">
                <div class="col">
                </div>
            </div>
            <div class="row text-center justify-content-center">
                <div class="col align-self-center">
                    {{ form.postcode.label }}
                </div>
                <div class="col-md-4">
                    <button type="button" id="btnLocation" class="btn btn-primary mb-1">auto পোস্ট কোড নির্ধারণ করুন</button>
                    {{ form.postcode }}
                    <span id="address" class="small">এই বাটন এর মাধ্যমে GPS দিয়ে নিচের তত্থগুলো সয়ংক্রিয়ভাবে পূরণ হয়ে যাবে।</span>
                    {{ form.lon }}
                    {{ form.lat }}
                </div>
            </div>

            <input type="hidden" name="g-recaptcha-response" id='recaptcha'>
            <div class="text-center mt-3 text-center">
                <input type="submit" value="SUBMIT" class="btn btn-primary btn-lg">
            </div>
            <hr>
        </form>
        <div class="row justify-content-center">
            <div class="col-md-8 text-justify">
                <p>আপনার উত্তরগুলি  বেনামে সংগ্রহ করা হয়েছে। সার্ভেটি COVID-19 সংক্রমণের জন্য আপনার ও আপনার  অঞ্চলের ঝুঁকি নির্ধারণে সহায়তা করবে। প্রশ্নগুলো বাংলাদেশ জনস্বাস্থ্য সংস্থা এবং WHO প্রকাশিত নির্দেশিকার উপর ভিত্তি করে তৈরি করা হয়েছে। এই সমীক্ষা COVID-19  রোগ নির্ণয় করতে পারে না। এই সমীক্ষা শুধুমাত্র রোগের ঝুঁকি নির্ণয়ে সহায়ক। যেকোন ঝুঁকিপূর্ণ পরিস্থিতিতে চিকিৎসকের পরামর্শ নিন। সরকারের হট লাইনে যোগাযোগ করুন।</p>
            </div>
            <div class="col-md-4 text-center align-self-center">
                <img src="{% static 'home_logo.png' %}" alt="Logo Image" style="width: 100px; height: 100px;">
            </div>
        </div>
    </div>
    </div>
    </section>

{% endblock content %}

