{% extends 'base.html' %}
{% block title %}
    {% if success %}
        Success!
    {% else %}
        Failed
    {% endif %}

{% endblock title %}

{% block content %}
    {% if success %}
        <section class="container mt-md-5 pt-md-5 bangla">
            <div class="row justify-content-center">
                <div class="col-md-8 col-sm-12">
                    <div class="row justify-content-center warning-msg">
                        <div class="col align-self-center text-justify">
                            <h1>আপনার তথ্যের জন্য ধন্যবাদ।</h1>
                            <p class="lead text-danger">
                                আপনি যদি চীন, সিঙ্গাপুর, জাপান, দক্ষিন কোরিয়া, ইতালি, ইরান এসব দেশে ভ্রমণ করে থাকেন এবং ফিরে আসার ১৪ দিনের মধ্যে যদি আপনার জ্বর/কাশি/গলা ব্যথা/শ্বাসকষ্ট দেখা দেয় তাহলে অতি দ্রুত IEDCR এর হটলাইন নাম্বারে (<a href="tel:01937000011">01937000011</a>, <a href="tel:01937110011">01937110011</a>, <a href="tel:01927711784">01927711784</a>, <a href="tel:019771185">019771185</a>) যোগাযোগ করুন এবং কুয়েত-মৈত্রী সরকারি হাসপাতালে ডাক্তারের পরামর্শ নিন।
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-center warning-msg">
                        <div class="col text-center align-self-center text-justify">
                            <a class="btn btn-lg btn-success" href="{% url 'index' %}">আপনার দেয়া তথ্য সংশোধন করুন</a>
                            <a class="btn btn-lg btn-success" href="{% url 'heatmap' %}">লাইভ দেশের অবস্থা দেখুন</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <h1>Failed</h1>

    {% endif %}
{% endblock content %}
