{% extends 'base.html' %}
{% load static %}

{% block title %}Survey page{% endblock title %}
{% block extracss %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
{% endblock extracss %}

{% block extrajs %}
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js"></script>
    <script src="{% static 'leaflet-heat.js' %}"></script>
    <script>
        // The OSM map
        var map = L.map('leafletmap').setView([23.727492, 90.389425], 8);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        $.getJSON("{% url 'data_json' %}", function (points) {
            var heat = L.heatLayer(
                points, {
                    radius: 20,
                    minOpacity: 0.8
                }).addTo(map);
        });

    </script>
{% endblock extrajs %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <p>
                    এই তথ্যগুলো কোনোভাবে করোনা এফেক্টেড কিনা তা যাচাই করছে না। এই তথ্যগুলো শুধুমাত্র আপনার করোনা হওয়ার সম্ভাবনা যাচাইএ ব্যাবর্হিত হয়েছে।
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="leafletmap" style="height: 600px"></div>

                </div>
            </div>
        </div>
    </section>

{% endblock content %}
